.box{
    height: 200px;
    width: 200px;
    background-color: blue;

    position: relative;
    top: 230px;
    left: 0;

    animation: render 5s ease-in-out infinite ;
}

@keyframes render {
    0%{
        left: 0%;
        transform: rotate(-360deg);
    }
    100%{
        left: 1310px;
    }
}