.box{
    height: 200px;
    width: 200px;
    background-color: blue;

    position: relative;
    top: 230px;
    left: 0;

    animation: render 10s ease-in-out infinite ;
}

@keyframes render {
    0%{
        left: -220px;
        transform: rotate(-360deg);
    }
    100%{
        left: 1600px;
    }
}

body{
    margin: 0;
    padding: 0;
    background-color: red;
    animation: body 5s linear infinite both;
}

@keyframes body{
    0%{
        background-color: yellow;
    }
    50%{
        background-color: blueviolet;
    }
    100%{
        background-color: aqua;
    }
}